<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/auth.css">
</head>

<body>
    <div class="container">
        <section class="bg-magenta"></section>
        <section class="tac pad flexed flexed-jc-center">
            <div class="bg-white pad raised">
                <h1>Login to Growthfile</h1>
                <a href="/" class="logo-main">
                    <img width="100" height="100" alt="" src="img/logo-main.jpg">
                </a>
                <div>
                    <p id="message" class="hidden animated fadeIn"></span>
                        <form autocomplete="off">
                            <fieldset id="phone-number-container" class="animated fadeIn mb-16">
                                <input id="phone" type="tel" class="input-field" name="auth-phone-number">
                            </fieldset>

                            <fieldset id="name-email-container" class="hidden animated fadeIn">
                                <input placeholder="Your name" class="input-field" type="text" name="auth-name">
                                <input placeholder="Your email" class="input-field" type="email" name="auth-email">
                            </fieldset>

                            <fieldset id="otp-container" class="hidden animated fadeIn" id="otp-container">
                                <input placeholder="Enter OTP here..." type="text" class="input-field" name="otp">
                            </fieldset>
                            <div id="recaptcha-container"></div>

                            <a href="#" class="button" id="auth-flow-start">Submit</a>
                        </form>
                </div>
            </div>
        </section>
        \{{> footerPartial}}
    </div>

    <div id='modal-box'></div>
    \{{> scriptsPartial}}
    <script src="js/auth.js"></script>
</body>

</html>
