<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/auth.css">
</head>

<body>
    \{{> persistentBarPartial this}}
    \{{> headerPartial this}}

    <div class="container">
        <section>
            <p id="message" class="hidden animated fadeIn"></span>
                <form>
                    <fieldset id="phone-number-container" class="animated fadeIn">
                        <label for="auth-phone-number">Phone Number</label>
                        <input class="input-field" type="text" name="auth-phone-number" placeholder="+910123456789">
                    </fieldset>

                    <fieldset id="name-email-container" class="hidden animated fadeIn">
                        <label for="auth-name">Name</label>
                        <input class="input-field" type="text" name="auth-name">
                        <label for="auth-email">Email</label>
                        <input class="input-field" type="email" name="auth-email">
                    </fieldset>

                    <fieldset id="otp-container" class="hidden animated fadeIn" id="otp-container">
                        <label for="otp">Enter OTP here</label>
                        <input type="text" class="input-field" name="otp">
                    </fieldset>
                    <div id="recaptcha-container"></div>

                    <a href="#" class="button" id="auth-flow-start">Submit</a>
                </form>
        </section>
    </div>

    \{{> footerPartial}}
    <div id='modal-box'></div>
    \{{> scriptsPartial}}
    <script defer src="js/auth.js"></script>
</body>

</html>
