<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/download.css">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTG6JLT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    \{{> headerPartial this}}
    <div class="pad-below-header"></div>
    <div class="container">
        <h1>Download Growthfile App</h1>
        <section id="ios-link">
            <a href="https://play.google.com/store/apps/details?id=com.growthfile.growthfileNew">
                <img src="img/play-store-icon.jpg" alt="google play store icon">
            </a>
        </section>
        <section id="android-link">
            <a href="https://itunes.apple.com/in/app/growthfile/id1441388774?mt=8">
                <img src="img/app-store-icon.jpg" alt="apple app store icon">
            </a>
        </section>
    </div>
    \{{> footerPartial}}
    \{{> scriptsPartial}}
    <script defer src="js/download.js"></script>
</body>

</html>
