<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    \{{> persistentBarPartial this}}
    \{{> headerPartial this}}
    <div class="container">
        \{{#if isAdmin}}
        <form id='office-search-form' class="form-inline">
            <span class="select-dropdown">
                <select id='office-selector'>
                    \{{#each adminOffices}}
                    <option value="\{{this}}">\{{this}}</option>
                    \{{/each}}
                </select>
            </span>
            <a class="button" id='continue'
                onclick="startAdmin(document.getElementById('office-selector').value)">Continue</a>
        </form>
        \{{/if}}

        \{{#if isSupport}}
        <div class="office-selection">
            <form autocomplete="off" id="office-search-form" class="form-inline">
                <input type="text" placeholder="Search an office" class="input-field" id='office-search-field'
                    oninput="toggleSearchButton(this)">

                <ul></ul>

                <button type="button" class="button button-search invisible" onclick="searchOffice()">search</button>
                <button type="button" class="invisible button" id='continue'
                    onclick="startAdmin(document.getElementById('office-search-field').value)">Contunue</button>
                <button type="button" class="button" id='create-office' onclick="addNew(true,false,'office')">Create
                    Office</button>
            </form>
        </div>
        \{{/if}}

        \{{#if isLoggedIn}}
        <section class="hidden animated fadeIn action-icons-container pad border">
            <div class="cards">
                <div id="view-enquiries" onclick="viewEnquiries()" class="card">
                    <i class="fas fa-question action-icon"></i>
                    <p class="icon-text">View Enquiries</p>
                </div>

                {{!-- actions are shown for admin or support --}}
                \{{#if showActions}}
                <div id="update-auth" onclick="updateAuth()" class="card">
                    <i class="fas fa-user-edit action-icon"></i>
                    <p class="icon-text">Update Auth</p>
                </div>

                <div id="add-employees" onclick="addNew(\{{isSupport}}, \{{isAdmin}})" class="card">
                    <i class="fas fa-user-plus action-icon"></i>
                    <p class="icon-text">Create New</p>
                </div>

                <div id="trigger-reports" onclick="triggerReports()" class="card">
                    <i class="far fa-file-excel action-icon"></i>
                    <p class="icon-text">Trigger Reports</p>
                </div>

                <div id="employee-resign" onclick="employeeExit()" class="card">
                    <i class="fas fa-user-minus action-icon"></i>
                    <p class="icon-text">Employee Exit</p>
                </div>

                <div id="change-phone-number" onclick="changePhoneNumber()" class="card">
                    <i class="fas fa-phone-volume action-icon"></i>
                    <p class="icon-text">Update Phone Number</p>
                </div>

                <div id="update-recipient" onclick="updateEmailInReports()" class="card">
                    <i class="fas fa-envelope-open-text action-icon"></i>
                    <p class="icon-text">Update Report Mail Ids</p>
                </div>

                <div id="update-subscription" onclick="updateSubscription()" class="card">
                    <i class="far fa-file-archive action-icon"></i>
                    <p class="icon-text">Update Subscriptions</p>
                </div>

                <div id="update-activity" onclick="searchAndUpdate()" class="card">
                    <i class="fas fa-font action-icon"></i>
                    <p class="icon-text">Search & Update</p>
                </div>
                \{{/if}}

                \{{#if isTemplateManager}}
                <div id="manage-templates" class="card" onclick="manageTemplates(this)">
                    <i class="fas fa-file-alt action-icon"></i>
                    <p class="icon-text">Manage Templates</p>
                </div>
                \{{/if}}
            </div>
        </section>
        \{{/if}}

        <section class="hidden pad border" id="manage-template-container">
            <ul class="flexed-se mh-72 flexed-ai-center bg-magenta col-white ttuc raised">
                <li>
                    <a class="flexed-ai-center flexed-column" href="#">
                        <i class="far fa-file-alt mb-8"></i>
                        <span>Templates</span>
                    </a>

                </li>
                <li>
                    <a class="flexed-ai-center flexed-column" href="#">
                        <i class="fas fa-plus mb-8"></i>
                        <span>Create</span>
                    </a>
                </li>
                <li>
                    <a class="flexed-ai-center flexed-column" href="#">
                        <i class="fas fa-pen mb-8"></i>
                        <span>Update</span>
                    </a>
                </li>
            </ul>
            <div id="manage-templates-action" class="border template-action-result animated fadeIn">
                {{!-- Stuff after selecting the template --}}
            </div>
        </section>

        <section class="features-section section-one pad border">
            <h1 class="fw-400">A habit for highly effective businesses</h1>
        </section>

        \{{> featuredPartial}}
        \{{> appFeatures}}

        <div id="modal-box"></div>
        \{{> scriptsPartial}}
        <script src="js/home.js"></script>
        \{{> footerPartial}}
    </div>
</body>

</html>
