<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    \{{> persistentBarPartial}}
    \{{> headerPartial}}

    <div class="container">
        <section class="section1"></section>
        <section class="section2">
            <div class="info-card">Optimized Mobile page for your company</div>
            <div class="info-card">
                Choose Growthfile -- Smarter way to grow:
                <ul>
                    <li>Manage your online presense</li>
                    <li>Optimized mobile page for your company</li>
                    <li>Update and edit on the go</li>
                    <li>Generate incremental enquiries using the mobile page</li>
                    <li>Easy to share with prespective customers and friends</li>
                </ul>
                Use mobile app to automate your business.
                <ul>
                    <li>Reduses overhead</li>
                    <li>Improves productivity</li>
                </ul>
            </div>
            <div class="info-card">
                Make informed decisions and grow faster. Use Growthfile for insights into your business
            </div>
        </section>

        <section class="section3"></section>

        <section class="section4">
            <h2>Membership</h2>
            <h3>---APPLY TODAY---</h3>
            <a href="#">JOIN NOW</a>
        </section>
    </div>
    \{{> footerPartial}}
    <script src="js/home.js"></script>
</body>

</html>
