<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    \{{> persistentBarPartial this}}
    \{{> headerPartial this}}
    <div class="container">
        \{{#if isLoggedIn}}
        <section class="action-icons-container">
            <ul>
                <li id="add-employees">
                    <i class="fas fa-user-plus action-icon"></i>
                    <p class="icon-text">Add Employees</p>
                </li>
                <li id="trigger-reports">
                    <i class="far fa-file-excel action-icon"></i>
                    <p class="icon-text">Trigger Reports</p>
                </li>
                <li id="change-phone-number">
                    <i class="fas fa-phone-volume action-icon"></i>
                    <p class="icon-text">Update Phone Number</p>
                </li>
                <li id="employee-resign">
                    <i class="fas fa-user-minus action-icon"></i>
                    <p class="icon-text">Employee Exit</p>
                </li>
                <li id="update-recipient">
                    <i class="fas fa-envelope-open-text action-icon"></i>
                    <p class="icon-text">Update Report Mail Ids</p>
                </li>
                <li id="update-subscription">
                    <i class="far fa-file-archive action-icon"></i>
                    <p class="icon-text">Update Subscriptions</p>
                </li>
                <li id="update-activity">
                    <i class="fas fa-font action-icon"></i>
                    <p class="icon-text">Search & Update</p>
                </li>
            </ul>
        </section>
        <section id="action-section">
            <p id="default-text">Click an action to proceed</p>
        </section>
        \{{else}}
        <section class="section2">
            <h2>A network for <span>smart</span> business owners</h2>
        </section>
        <div class="call-to-action">
            <ul>
                <li>
                    <i class="fas fa-microchip"></i>
                    <p>Use simple technology to grow</p>
                </li>
                <li>
                    <i class="fas fa-share-alt"></i>
                    <p>Manage your digital presense on Facebook, and Google</p>
                </li>
                <li>
                    <i class="fas fa-business-time"></i>
                    <p>Generate incremental leads for your business from the network</p>
                </li>
                <li>
                    <i class="fas fa-cogs"></i>
                    <p>Make your business more efficient by automating your office flows using our mobile app</p>
                </li>
            </ul>
        </div>
        <section>Turn Small Biz into Smart biz</section>
        \{{/if}}
    </div>
    \{{> footerPartial}}
    <script src="js/home.js"></script>
</body>

</html>
