<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    \{{> persistentBarPartial this}}
    \{{> headerPartial this}}
    <div class="container">
        \{{#if isLoggedIn}}
        <section class="action-icons-container">
        <section id="action-section">
            <p id="default-text">Click to proceed</p>
        </section>
            <div class="cards">
                <div id="add-employees">
                    <i class="fas fa-user-plus action-icon"></i>
                    <p class="icon-text">Add Employees</p>
                </div>
                <div id="trigger-reports">
                    <i class="far fa-file-excel action-icon"></i>
                    <p class="icon-text">Trigger Reports</p>
                </div>
                <div id="change-phone-number">
                    <i class="fas fa-phone-volume action-icon"></i>
                    <p class="icon-text">Update Phone Number</p>
                </div>
                <div id="employee-resign">
                    <i class="fas fa-user-minus action-icon"></i>
                    <p class="icon-text">Employee Exit</p>
                </div>
                <div id="update-recipient">
                    <i class="fas fa-envelope-open-text action-icon"></i>
                    <p class="icon-text">Update Report Mail Ids</p>
                </div>
                <div id="update-subscription">
                    <i class="far fa-file-archive action-icon"></i>
                    <p class="icon-text">Update Subscriptions</p>
                </div>
                <div id="update-activity">
                    <i class="fas fa-font action-icon"></i>
                    <p class="icon-text">Search & Update</p>
                </div>
                <div id="view-enquiries">
                    <i class="fas fa-question action-icon"></i>
                    <p class="icon-text">View Enquiries</p>
                </div>
                <div id="manage-templates">
                    <i class="fas fa-file-alt action-icon"></i>
                    <p class="icon-text">Manage Templates</p>
                </div>
            </ul>
        </section>
   
        \{{else}}
        <section class="section2">
            <h2>A network for <span>smart</span> business owners</h2>
        </section>
        <div class="call-to-action">
            <div class="cards">
                <div>
                    <i class="fas fa-2x fa-microchip action-icon"></i>
                    <p class="icon-text">Use simple technology to grow</p>
                </div>
                <div>
                    <i class="fas fa-2x fa-share-alt action-icon"></i>
                    <p class="icon-text">Manage your digital presense on Facebook, and Google</p>
                </div>
                <div>
                    <i class="fas fa-2x fa-business-time action-icon"></i>
                    <p class="icon-text">Generate incremental leads for your business from the network</p>
                </div>
                <div>
                    <i class="fas fa-2x fa-cogs action-icon"></i>
                    <p class="icon-text">Make your business more efficient by automating your office flows using our mobile app</p>
                </div>
            </ul>
        </div>
        <section>Turn Small Biz into Smart biz</section>
        \{{/if}}
    </div>
    \{{> footerPartial}}
    <div id='modal-box'></div>
    <script src="js/home.js"></script>
</body>

</html>
