<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    \{{> persistentBarPartial}}
    \{{> headerPartial}}

    <div class="container">
        <section class="section2">
            <div class="info-card">
                Growthfile: A network for smart business owners
            </div>
            <div class="info-card">
                <ul>
                    <li>Use simple technology to grow</li>
                    <li>Manage your digital presense on Google, Facebook and any new networks that might come</li>
                    <li>Generate incremental leads for your business from the network</li>
                    <li>Make your business more efficient by automating your office flows using our mobile app</li>
                </ul>
            </div>
            <div class="info-card">Turn Small Biz into Smart Biz</div>
        </section>

        <section class="call-to-action">
            <h2>Membership</h2>
            <h3>---APPLY TODAY---</h3>
            <a class="button" href="/join">JOIN NOW</a>
        </section>
    </div>
    \{{> footerPartial}}
    <script src="js/home.js"></script>
</body>

</html>
