<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/join.css">
</head>

<body>
    \{{> persistentBarPartial}}
    \{{> headerPartial this}}
    <div class="container">
        \{{> asidePartial}}
        <section class="features-section">
            <div class="pad bold tac">
                <h1>Start quickly and proceed without limitations</h1>
            </div>
            <div>
                <div class="card bg-white">
                    <div class="icon-container col-orange">
                        <i class="fas fa-robot"></i>
                    </div>
                    <div class="main-text">
                        Automates all your business activities
                    </div>
                </div>

                <div class="card bg-white">
                    <div class="icon-container col-orange">
                        <i class="far fa-file-excel"></i>
                    </div>
                    <div class="main-text">
                        Simplified and daily reporting
                    </div>
                </div>

                <div class="card bg-white">
                    <div class="icon-container col-orange">
                        <i class="fas fa-memory"></i>
                    </div>
                    <div class="main-text">
                        No Training required, Go live in 30-minutes
                    </div>
                </div>

                <div class="card bg-white">
                    <div class="icon-container col-orange">
                        <i class="fas fa-wrench"></i>
                    </div>
                    <div class="main-text">
                        Saves time and money increases productivity and efficiency.
                    </div>
                </div>

                <div class="card bg-white">
                    <div class="icon-container col-orange">
                        <i class="fas fa-comment-dollar"></i>
                    </div>
                    <div class="main-text">
                        One time life time membership Rs 50000+ GST
                    </div>
                </div>
            </div>
        </section>

        <section class="join-section">
            <form autocomplete="off">
                <fieldset>
                    <h2 id="help-text" class="bold col-orange">Enter Your Office Name</h2>
                    <p class="flexed flexed-column animated fadeIn">
                        <input placeholder="Office Name" class="input-field" name="office-name" type="text"
                            id="office-name" required>
                    </p>
                </fieldset>
                <fieldset id="form-2" class="animated fadeIn">
                    <p class="flexed flexed-column animated fadeIn">
                        <input placeholder="Second Contact's Name" class="input-field" class="input-field"
                            name="second-contact-name" type="text" id="second-contact-name" required>
                    </p>
                    <p class="flexed flexed-column animated fadeIn">
                        <input placeholder="Second Contact's Email" class="input-field" name="second-contact-email"
                            type="email" id="second-contact-email" required>
                    </p>
                    <p class="flexed flexed-column animated fadeIn mb-16">
                        <input class="input-field" name="second-contact-phone-number" type="tel"
                            id="second-contact-phone-number" required>
                    </p>
                    <p>
                        <a href="#" id="form-submit-button" class="button">
                            Submit
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </p>
                </fieldset>
            </form>
        </section>
    </div>

    \{{> footerPartial}}
    \{{> scriptsPartial}}
    <script defer src="js/join.js"></script>
</body>

</html>
