<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/join.css">
</head>

<body>
    \{{> persistentBarPartial}}
    \{{> headerPartial this}}
    <div class="container">
        \{{> asidePartial}}
        <section class="bold">
            <h2>Start quickly and proceed without limitations</h2>
        </section>
        <section class="features-section">
            <div class="card raised">
                <div class="icon-container">
                    <i class="fas fa-robot"></i>
                </div>
                <div class="main-text">
                    Automates all your business activities
                </div>
            </div>

            <div class="card raised">
                <div class="icon-container">
                    <i class="far fa-file-excel"></i>
                </div>
                <div class="main-text">
                    Simplified and daily reporting
                </div>
            </div>

            <div class="card raised">
                <div class="icon-container">
                    <i class="fas fa-memory"></i>
                </div>
                <div class="main-text">
                    No Training required, Go live in 30-minutes
                </div>
            </div>

            <div class="card raised">
                <div class="icon-container">
                    <i class="fas fa-wrench"></i>
                </div>
                <div class="main-text">
                    Saves time and money increases productivity and efficiency.
                </div>
            </div>

            <div class="card raised">
                <div class="icon-container">
                    <i class="fas fa-comment-dollar"></i>
                </div>
                <div class="main-text">
                    One time life time membership Rs 50000+ GST
                </div>
            </div>
        </section>

        <section class="join-section">
            <form>
                <p>
                    <label for="user-phone-number">Your Phone Number</label>
                    <input class="input-field" name="user-phone-number" type="tel" id="user-phone-number" required>
                </p>
                <p class="hidden animated fadeIn">
                    <label for="office-name">Office Name</label>
                    <input class="input-field" name="office-name" type="text" id="office-name" required>
                </p>
                <p class="hidden animated fadeIn">
                    <label for="second-contact-name">Second Contact's Name</label>
                    <input class="input-field" class="input-field" name="second-contact-name" type="text"
                        id="second-contact-name" required>
                </p>
                <p class="hidden animated fadeIn">
                    <label for="second-contact-email">Second Contact's Email</label>
                    <input class="input-field" name="second-contact-email" type="email" id="second-contact-email"
                        required>
                </p>
                <p class="hidden animated fadeIn">
                    <label for="second-contact-phone-number">Second Contact's Phone Number</label>
                    <input class="input-field" name="second-contact-phone-number" type="tel"
                        id="second-contact-phone-number" required>
                </p>
                <p class="animated fadeIn">
                    <a href="#" id="form-submit-button" class="button">
                        Submit
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </p>
            </form>
        </section>
    </div>

    \{{> footerPartial}}
    \{{> scriptsPartial}}
    <script defer src="js/join.js"></script>
</body>

</html>
