<!DOCTYPE html>
<html lang="en">
<head>
     \{{> headPartial this}}
     <link rel="stylesheet" href="css/login.css">
</head>
<body>
    \{{> headerPartial this}}
        <div class="mdc-top-app-bar--fixed-adjust page-content-section">

        <div class="mobile-logo--banner area">
            <div class="inline-flex">
                <a class="mdc-top-app-bar__action-item mdc-icon-button icon-expand" aria-label="logo" href="./">
                    <img src="../../img/icon.png" id="header-logo">
                </a>
                <span class="mdc-typography--headline6">
                    <strong>GROWTH</strong>FILE
                </span>
            </div>
        </div>
        <section class="section share--background-image">
            <div class="content-max-width">
                    <div class="auth-block area">
                        <div id="home-login"></div>
                    </div>
                    <div id='share-widget'></div>
            </div>
        </section>
     
        <div id='snackbar-container'></div>
      \{{> footerPartial}}
      \{{> scriptsPartial}}

    <script src="js/env-config.js"></script>
    <script src="js/components.js"></script>
    <script src="js/login.js"></script>
    <script src="js/core.js"></script>
    <script src="js/static.js"></script>
    <script src="js/share.js"></script>
    <script>
        initializeSharePage("\{{office}}","\{{companyLogo}}")
    </script>
</body>
</html>