<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
</head>

<body>
    \{{> persistentBarPartial this}}
    \{{> headerPartial this}}
    <link rel="stylesheet" href="css/terms-and-conditions.css">
    <div class="container">
        \{{> asidePartial}}
        <main>
            <section class="pad">
                <h1>Terms and Conditions</h1>
                <h2>Introduction</h2>
                <p>
                    Growthfile, a product of M/S Puja Capital (“Puja Capital”, “we” or “us”), a proprietorship firm
                    having
                    its registered office at S-214, 2nd floor, Greater Kailash –II, New Delhi-110048.
                </p>
                <p>
                    Growthfile is a data analytics product for teams which help them collect and manage data to respond
                    faster to daily business activities as they happen.
                </p>
                <p>
                    The entity (“Company”) agreeing to use Growthfile app and services available through it is subjected
                    to
                    below mentioned Terms of Service. All references in this Terms and Conditions to “You” or “Your”
                    shall
                    refer to the Company and its authorized users. It will be assumed that the person clicking “I Agree”
                    button below have the full legal authority to bind your employer, or the applicable entity, to these
                    terms and conditions;
                </p>
                <h2>Membership, Fee & Charge</h2>
                <p>
                    Usage of Growthfile is restricted to paid users only. We charge a one-time fee of Rs 50000/-+GST per
                    organization.
                </p>
                <p>
                    Puja Capital reserves the right at any time to change the fees/charges for using “Growthfile”
                    services.
                    However, such fees/charges will be applicable only with prospective effect giving prior notice to
                    the
                    Customer.
                </p>
                <h2>Usage and Disclosure of data</h2>
                <p>
                    In order to use of Growthfile Services, the Company Administrator will submit certain personal
                    information about such as name, email, Company name &address, mobile phone number and certain
                    details of
                    employees like name, mobile number, gender, designation, reporting person name for onboarding. It is
                    assumed that data provided upon registration and at all other times will be true, accurate, current
                    and
                    complete.
                </p>
                <p>
                    All data provided by the Company Administrator or captured during the usages of Growthfile service
                    including supplier, customers, branches, rosters, invoices, purchase orders, etc will always be the
                    property of the Company.
                </p>
                <p>
                    We will never share, forward & reveal, expose this data to anybody else to the best of our ability.
                    Puja
                    Capital will only use data for the purpose assigned to.
                </p>
                <p>
                    We use many third party software & services. We are bound by their terms & conditions
                </p>
                <p>
                    Details of usage of data will be governed by the guidelines provided in the privacy policy.
                </p>
                <h2>Limitation of Liability & Warranty</h2>
                <p>
                    In all circumstances, except below-mentioned point, our liability to the “Company” cannot exceed
                    more
                    than the “registration fee”.
                </p>
                <p>
                    Time to time, M/S Puja Capital will provide additional consulting services to the Company for
                    additional
                    fees. Any liability arises from those services will be limited to the fees charged for those
                    services
                    only.
                </p>
                <p>
                    Growthfile website, services and all information, content etc. included on or otherwise made
                    available
                    to you through the website, or mobile application are provided by Puja Capital on an “as is” and “as
                    available” basis. Puja Capital makes no representations or warranties of any kind, express or
                    implied,
                    as to the operation of website and Growthfile services.
                </p>
                <h2>Privacy Policy</h2>
                <p>
                    Our privacy policy is to explain our online information practices and choices you can make about the
                    way
                    your information is used by us through our Platform. We here at Puja Capital are committed to
                    protecting
                    the privacy of the Company and end users personally identifiable information.
                </p>
                <p>
                    All employee data collected for usages of Growthfile APP is the property of the Company only. “Data
                    collected” only indicates what employee enters and does not mean Company supports or is responsible
                    for
                    employee action.
                </p>
                <p>
                    We shall limit the information we collect for the purpose of providing the services to which you
                    engaged
                    us. Puja Capital will not sell, rent or share that information with others.
                </p>
                <p>
                    You entirely agree to our use of cookies and/or such trackers to i) access or use our site and other
                    affiliated sites. All future attempts to access the site will be based on your acceptance on our use
                    of
                    cookies and shall be deemed a blanket acceptance.
                </p>
                <p>
                    Puja Capital reserves the right to share your personal identifiable information i) where required by
                    law; ii) where you are in violation of this Privacy Policy, and/or terms of service; or iii) where
                    Puja
                    Capital determines, in its sole discretion, that such disclosure is necessary to protect the rights
                    of
                    us and/or a third party, or necessary to protect itself from liability of any kind. iv) in the event
                    of
                    any reorganization, merger, sale etc.
                </p>
                <p>
                    We will retain your information for as long as your account is active or as needed to provide you
                    services. If you wish to cancel your account contact us at help@growthfile.com. We will retain and
                    use
                    your information as necessary to comply with our legal obligations, resolve disputes, and enforce
                    our
                    agreements. We endeavour to safeguard and protect our users’ information.
                </p>
                <p>
                    All personally identifiable information at the site is protected both online and offline to the best
                    of
                    our ability. We have security measures in place to protect the loss, misuse and alteration of
                    personally
                    identifiable information under our control. Please be advised that, although we take every
                    reasonable
                    precaution on available to protect your data, no data transmission over the Internet can be
                    guaranteed
                    to be 100% secure. Therefore, we cannot warrant that your information will be secure. Any
                    transmission
                    of data at or through our site is at your own risk. However, access to your personally identifiable
                    information is strictly limited, and not accessible to the public.
                </p>
                <h2>General Provisions</h2>
                <p>
                    Jurisdiction: These terms shall be governed by and construed in accordance with the laws of India
                    (“Applicable Laws“). All disputes relating to these Terms shall be settled in the courts located at
                    New
                    Delhi, India.
                </p>
                <p>
                    Notices: Unless specified otherwise herein, all notices must be in writing and addressed to the
                    attention of the other party’s legal department and primary point of contact and should be sent by
                    registered post, courier or by email.
                </p>
                <p>
                    M/S Puja Capital reserve the right to make changes to website, policies, and these Terms and
                    Conditions
                    at any time, in our sole discretion.
                </p>
                <p>
                    Force Majeure: Neither party will be liable for inadequate performance to the extent caused by a
                    condition (for example, natural disaster, act of war or terrorism, riot, labor condition,
                    governmental
                    action, and Internet disturbance) that was beyond the party’s reasonable control.
                </p>
                <p>
                    Terms of this Agreement will survive indefinitely unless and until Puja Capital chooses to terminate
                    them.
                </p>
            </section>
        </main>
        \{{> footerPartial}}
    </div>
    \{{> scriptsPartial}}
</body>

</html>
