<aside class="sidebar hidden animated fadeIn">
    <p>
        <a href="/auth">Login</a>
    </p>
    <p>
        <a href="#">Features</a>
    </p>
    <p>
        <a href="#">Pricing</a>
    </p>
</aside>
