<aside class="border raised">
    <div class="col-blue">
        <span class="bold">Stellar Medical</span>
    </div>
    <hr>
    <ul>
        <li>
            <i class="fas fa-info-circle mr-8"></i>
            <a href="#" class="ttuc">About</a>
        </li>
        <li>
            <i class="fas fa-box mr-8"></i>
            <a href="#" class="ttuc">Products</a>
        </li>
        <li>
            <i class="fas fa-pen mr-8"></i>
            <a href="#" class="ttuc">Enquiry</a>
        </li>
        <li>
            <i class="fas fa-code-branch mr-8"></i>
            <a href="#" class="ttuc">Branches</a>
        </li>
    </ul>
</aside>
