<section class="pad border">
    <div class="cards">
        <div class="office border pad card">
            <a href="/gazraj-security">
                <img src="img/gazraj-security.jpg" alt="">
            </a>
            <div class="office-text-container">
                <span class="office-name ttuc mb-8 mt-16 col-blue ft-size-20">Gazraj Security</span>
                <span class="office-description-short col-light-blue">Manned Security Services</span>
                <span class="office-description-long">Growthfile is used by their supervisor to monitor
                    and
                    quality check of their guards across their customer locations</span>
            </div>
        </div>
        <div class="office border pad card">
            <a href="/mind-edutainment">
                <img src="img/mind-edutainment-pvt-ltd.jpg" alt="">
            </a>
            <div class="office-text-container">
                <span class="office-name ttuc mb-8 mt-16 col-blue ft-size-20">Mind Edutainment Pvt.
                    Ltd.</span>
                <span class="office-description-short col-light-blue">High Order Thinking School
                    Curriculum</span>
                <span class="office-description-long">Mind Edutainment is using Growthfile to administer
                    the
                    location of their facilitators for monthly payroll computation
                    across multiple schools in India</span>
            </div>
        </div>
        <div class="office border pad card">
            <a href="/system3net">
                <img src="img/system3-net.jpg" alt="">
            </a>
            <div class="office-text-container">
                <span class="office-name ttuc mb-8 mt-16 col-blue ft-size-20">System3.net</span>
                <span class="office-description-short col-light-blue">IT Service Provider</span>
                <span class="office-description-long">System3 is using Growthfile to manage field
                    employees for
                    customer visits and customer location duties</span>
            </div>
        </div>
        <div class="office border pad card">
            <a href="/weddingzin">
                <img src="img/video-coming-soon.gif" alt="">
            </a>
            <div class="office-text-container">
                <span class="office-name ttuc mb-8 mt-16 col-blue ft-size-20">Weddingz.in</span>
                <span class="office-description-short col-light-blue">One stop weddings marketplace</span>
            </div>
        </div>

        <div class="office border pad card">
            <a href="/mybox-technologies-pvt-ltd">
                <img src="img/video-coming-soon.gif" alt="">
            </a>
            <div class="office-text-container">
                <span class="office-name ttuc mb-8 mt-16 col-blue ft-size-20">Mybox Technologies Pvt.
                    Ltd.</span>
                <span class="office-description-short col-light-blue">Digital Set-Top Box
                    Manufacturer</span>
            </div>
        </div>
        <div class="office border pad card">
            <a href="/amptek-batteries">
                <img src="img/amptek-batteries.jpg" alt="">
            </a>
            <div class="office-text-container">
                <span class="office-name ttuc mb-8 mt-16 col-blue ft-size-20">Amptek Batteries</span>
                <span class="office-description-short col-light-blue"></span>
            </div>
        </div>
        <div class="office border pad card">
            <a href="/stellar-medical">
                <img src="img/video-coming-soon.gif" alt="">
            </a>
            <div class="office-text-container">
                <span class="office-name ttuc mb-8 mt-16 col-blue ft-size-20">Stellar Medical</span>
                <span class="office-description-short col-light-blue">Hi-Tech Medical Equipment
                    Manufacturer</span>
            </div>
        </div>
        <div class="office border pad card">
            <a href="/mystique-audit-allied-services">
                <img src="img/video-coming-soon.gif" alt="">
            </a>
            <div class="office-text-container">
                <span class="office-name ttuc mb-8 mt-16 col-blue ft-size-20">Mystique Audit Allied
                    Services</span>
                <span class="office-description-short col-light-blue">Warehousing, Audit, and Supply Chain
                    Leaders</span>
            </div>
        </div>
        <div class="office border pad card">
            <a href="/realtime-taxsutra-services-pvt-ltd">
                <img src="img/video-coming-soon.gif" alt="">
            </a>
            <div class="office-text-container">
                <span class="office-name ttuc mb-8 mt-16 col-blue ft-size-20">Realtime Taxsutra Services Pvt
                    Ltd</span>
                <span class="office-description-short col-light-blue">Warehousing, Audit, and Supply Chain
                    Leaders</span>
            </div>
        </div>
        <div class="office border pad card">
            <a href="/realtime-taxsutra-services-pvt-ltd">
                <img src="img/video-coming-soon.gif" alt="">
            </a>
            <div class="office-text-container">
                <span class="office-name ttuc mb-8 mt-16 col-blue ft-size-20">Realtime Taxsutra Services Pvt
                    Ltd</span>
                <span class="office-description-short col-light-blue">Warehousing, Audit, and Supply Chain
                    Leaders</span>
            </div>
        </div>
    </div>
</section>
