<footer>
    <div class="social-links">
        <a href="#">
            <i class="fab fa-2x fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-2x fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-2x fa-linkedin-in"></i>
        </a>
    </div>
    <div class="copyright-text-container">
        Copyright © 2019 Growthfile All rights reserved
    </div>
    <div class="footer-links">
        <a href="#">About Us | </a>
        <a href="#">Privacy Policy | </a>
        <a href="#">Terms & Conditions</a>
    </div>
</footer>
