<footer>
    <div class="social-links">
        <a href="https://facebook.com/growthfile">
            <i class="fab fa-2x fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/growthfile">
            <i class="fab fa-2x fa-twitter"></i>
        </a>
        <a href="https://linkedin.com/growthfile">
            <i class="fab fa-2x fa-linkedin-in"></i>
        </a>
        <a href="https://instagram.com/growthfile">
            <i class="fab fa-2x fa-instagram"></i>
        </a>
    </div>
    <div class="copyright-text-container">
        Copyright © 2019 Growthfile Analytics Pvt. Ltd. All rights reserved
    </div>
    <div class="footer-links">
        <a href="/terms-and-conditions">Terms & Conditions</a>
        <a href="/contact">Contact Us</a>
        <a href="/privacy-policy">Privacy Policy</a>
    </div>
</footer>
