<footer class="pad mt-16 bg-magenta col-white">
    <div class="flexed flexed-jc-center pad">
        <a class="mr-16" href="https://facebook.com/growthfile">
            <i class="fab fa-2x fa-facebook-f"></i>
        </a>
        <a class="mr-16" href="https://twitter.com/growthfile">
            <i class="fab fa-2x fa-twitter"></i>
        </a>
        <a class="mr-16" href="https://linkedin.com/growthfile">
            <i class="fab fa-2x fa-linkedin-in"></i>
        </a>
        <a class="mr-16" href="https://instagram.com/growthfile">
            <i class="fab fa-2x fa-instagram"></i>
        </a>
    </div>
    <div class="copyright-text-container">
        Copyright © 2019 Growthfile Analytics Pvt. Ltd. All rights reserved
    </div>
    <div class="footer-links">
        <a class="" href="/terms-and-conditions">Terms & Conditions</a>
        <a class="" href="/contact">Contact Us</a>
        <a class="" href="/privacy-policy">Privacy Policy</a>
    </div>
</footer>
