 <footer class="mdc-theme--primary-bg mdc-theme--on-primary static-form">
        <div class="content-max-width">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-3-desktop">

                        <div class="inline-content">

                            <h1 class="mdc-top-app-bar__title pl-0 ml-0 mt-0">
                                <strong>GROWTH</strong>FILE
                                </span>
                        </div>
                        <p>
                            <a href="./solutions.html#Payroll" class="no-underline mdc-theme--on-primary"
                                target="">Payroll</a>
                        </p>
                        <p>
                            <a href="./solutions.html#Staff-allocation" class="no-underline mdc-theme--on-primary"
                                target="">Staff
                                allocations</a>
                        </p>
                        <p>
                            <a href="./solutions.html#Reimbursements" class="no-underline mdc-theme--on-primary"
                                target="">Reimbursement</a>
                        </p>
                        <p>
                            <a href="./pricing.html" class="no-underline mdc-theme--on-primary" target="">Pricing</a>
                        </p>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-3-desktop download-footer-cont">
                        <h1 class="mdc-typography--headline6" style="margin-top:0px">Download</h1>
                        <p>
                            <a class="no-underline"
                                href="https://play.google.com/store/apps/details?id=com.growthfile.growthfileNew"
                                target="_blank">Android</a>
                        </p>
                        <p>
                            <a class="no-underline" href="https://apps.apple.com/in/app/growthfilenewapp/id1441388774"
                                target="_blank">iPhone</a>
                        </p>
                    </div>

                    <div
                        class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-3-desktop help-footer">
                        <h1 class="mdc-typography--headline6 mt-0">
                            Help
                        </h1>
                        <p>
                            <a class="no-underline" href="./faq.html">FAQ</a>
                        </p>
                        <p>
                            <a class="no-underline" href="https://twitter.com/growthfile/" target="_blank">Twitter</a>
                        </p>
                        <p>
                            <a class="no-underline" href="https://www.facebook.com/growthfile/"
                                target="_blank">Facebook</a>
                        </p>
                        <p>
                            <a class="no-underline" href="https://www.instagram.com/growthfile/"
                                target="_blank">Instagram</a>

                        </p>
                        <p>
                            <a class="no-underline" href="https://www.linkedin.com/company/growthfile/"
                                target="_blank">Linkedin</a>

                        </p>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-3-desktop help-footer">
                        <h1 class="mdc-typography--headline6 mt-0">
                            Contact us
                        </h1>

                        <p>
                            <span class='inline-flex'><i class="material-icons">phone</i>
                                <a class="no-underline" href="tel:+918595422858">+91 85954 22858</a>

                            </span>
                        </p>
                        <p>
                            <span class='inline-flex'><i class="material-icons">email</i>
                                <a class="no-underline" href="mailto:?to=help@growthfile.com"
                                    target="_blank">help@growthfile.com</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="content-max-width">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="copyright-cont mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-desktop">
                        Copyright © 2019 Growthfile Analytics Pvt
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-desktop">
                        <a class="no-underline" href="./legal.html">Privacy & Terms</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>