<header>
    <a href="/" class="logo-container">
        <img src="/img/logo-main.jpg" alt="Growthfile Logo" height="40" width="40">
        <span class="logo-text">Growthfile</span>
    </a>
    <div class="header-links-container">
        \{{#if isLoggedIn}}
        <a id="header-profile-icon" class="" href="#">
            <i class="far fa-user-circle"></i>
        </a>
        \{{else}}
        <a id="header-login-button" class="button" href="#">
            <i class="fas fa-sign-in-alt"></i>
            <span id="header-button-text">Log in</span>
        </a>
        \{{/if}}
    </div>
</header>
