<header>
    <div class="logo-container">
        <img src="/img/logo-main.jpg" alt="Growthfile Logo" height="40" width="40">
    </div>
    <div class="header-links-container">
        <a href="#">Log in</a>
    </div>
</header>
