\{{#unless showActions}}
{{!-- Not shown to admin or support or template manager --}}
<section class="join-container">
    <div class="mb-16 pad">
        <h1 class="fw-400 col-white">
            7 automations for highly effective businesses
        </h1>

        <span class="col-white">
            Get more done, everyday!
        </span>
    </div>
    <div class="flexed-jc-center">
        <form class="join-form border flexed-column pad-10">
            <label class="bold ttuc mb-8" for="phone">Phone Number</label>
            <input tabindex="0" placeholder="e.g. +91876543210" id="phone" type="tel" class="input-field mb-16">

            <label class="hidden ttuc bold mb-8" for="email">Your Email</label>
            <input type="email" placeholder="yourname@growthfile.com" class="input-field mb-16 hidden">

            <label class="hidden bold ttuc mb-8" for="">Office</label>
            <input placeholder="e.g, Acme Corp..." type="text" class=" input-field mb-16 hidden ">

            <label class="hidden bold ttuc mb-8" for="alt-contact">Alternate Contact</label>
            <input id="alt-contact" type="tel" class="hidden input-field mb-16" placeholder="e.g. 9186543210">

            <label class="hidden bold ttuc mb-8" for="alt-contact">Alternate Contact's Email</label>
            <input id="alt-email" type="email" class="hidden input-field mb-16" placeholder="alternate.email@gmail.com">

            <input class="button mb-16" type="button" value="Start For Free">
            {{!-- phone number, office name, alternate phone number, alternate email --}}
            <p class="ft-12 hidden">
                By signing up, you agree to Growthfile's
                <a class="underline col-gray" href="/terms-and-conditions">Terms & Conditions</a>.
            </p>
            <p class="hidden ft-12">
                This site is protected by reCAPTCHA and the Google
                <a class="underline col-gray" target="_blank" href="https://policies.google.com/privacy">Privacy
                    Policy</a>
                and
                <a class="underline col-gray" target="_blank" href="https://policies.google.com/terms">Terms
                    of
                    Service</a>
                apply.
            </p>
        </form>
    </div>
</section>
\{{/unless}}
