form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
}

label,
.input-field {
    margin-bottom: 16px;
    height: 35px;
}

form label {
    font-weight: 600;
}

#message {
    font-size: 11px;
    text-align: center;
    margin-bottom: 16px;
}

#auth-flow-start {
    /* margin-top: 16px; */
}

section {
    min-height: unset;
    margin-bottom: 0;
    border: 0;
    padding: 0;
}

section:first-child {
    min-height: 150px;
}

section:nth-of-type(2) {
    margin-top: -70px;
    border-radius: 8px;
}

.logo-main {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

footer {
    position: absolute;
    bottom: 0;
}

.height-fix-intl-phone {
    height: 46px;
    min-width: 100%;
}

#box {
    width: 400px;
}

@media(min-width: 768px) {
    section:first-child {
        min-height: 30vh;
    }
}
