body {
    font-family: 'Libre Franklin', sans-serif;
    color: #182233;
}

a {
    text-decoration: none;
}

header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
}

header a {
    line-height: 40px;
    vertical-align: middle;
    /* color: #999 */
}

.persistent-bar {
    height: 30px;
    background-color: #33373d;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.persistent-bar a {
    color: #d8c65f;
    line-height: 30px;
}

footer {
    padding: 20px 30px;
}

footer a {
    color: #182233;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    margin-right: 10px;
    /* margin-bottom: 30px; */
}

footer div {
    margin-bottom: 12px;
}
