::-webkit-input-placeholder {
    color: #949494;
    font-size: 16px;
    /* font-weight: 600; */
}

::-moz-placeholder {
    color: #949494;
    font-size: 16px;
    /* font-weight: 600; */
}

:-ms-input-placeholder {
    color: #949494;
    font-size: 16px;
    /* font-weight: 600; */
}

::placeholder {
    color: #949494;
    font-size: 16px;
    /* font-weight: 600; */
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 6px;
}

html,
body {
    /* height: 100%; */
    overflow-y: auto;
}

body {
    height: 100%;
    font-family: Karla, 'Open Sans', sans-serif;
    color: #444;
    /* Golden Ratio */
    line-height: 1.61803398875em;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h1,
h2 {
    font-weight: 600;
    margin-bottom: 16px;
}

p {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    max-height: 40px;
    padding: 10px 20px;
    line-height: 40px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .14),
        0 4px 8px rgba(0, 0, 0, .28);
    box-shadow: 0 0 4px rgba(0, 0, 0, .14),
        0 4px 8px rgba(0, 0, 0, .28);
}

.raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
}

.border {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
}

.pad {
    padding: 20px 30px;
}

section {
    min-height: 200px;
}

.input-field {
    padding: 5px 10px;
    font-size: 100%;
    border: 0;
    border-bottom: 1px solid #ddd;
    background-color: #efefef;
    font-family: inherit;
    border-radius: 6px;
    transition: background-color .1s linear, border-color .1s linear, color .1s linear, box-shadow .1s linear, transform .1s ease;
}

.input-field:focus {
    outline: 0;
    outline: none;
    outline-style: none;
    box-shadow: 0 0 0 2px rgba(0, 150, 191, .67);
}

.persistent-bar {
    height: 40px;
    background-color: #89273E;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    color: #F7C86C;
    border-width: 0px;
    font-size: 20px;
    text-transform: uppercase;
}

.persistent-bar span {
    border: 1px solid;
    padding: 3px 10px;
    border-radius: 8px;
}

.logo-container {
    display: flex;
    border-radius: 50%;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.ttuc {
    text-transform: uppercase;
}

.bg-white {
    background: white;
}

.col-gray {
    color: #949494;
}

.bg-magenta {
    /* TODO: Use this everywhere instead of hardcoding */
    background: #89273E;
}

.col-green {
    color: #1E8E3E;
}

.col-red {
    color: #DB4437;
}

.col-orange {
    color: #EF6C00;
}

.bg-gray {
    background: #f9f9fa;
}

.bg-green {
    background: #1E8E3E;
}

.bg-red {
    background: #DB4437;
}

.bg-orange {
    background: #EF6C00;
}

.col-white {
    color: white;
}

.col-blue {
    color: #1f4d72;
}

.col-light-blue {
    color: #51a4d5;
}

.no-ptr-evt {
    pointer-events: none;
}

.rounded {
    border-radius: 50%;
}

/** Helpers **/
.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.m0-auto {
    margin: 0 auto;
}

.fit-content {
    max-width: fit-content;
}

.flexed {
    display: flex;
}

.flexed-sb {
    display: flex;
    justify-content: space-between;
}

.flexed-se {
    display: flex;
    justify-content: space-evenly;
}

.flexed-column {
    display: flex;
    flex-direction: column;
}

.flexed-row {
    display: flex;
    flex-direction: row;
}

.flexed-jc-center {
    display: flex;
    justify-content: center;
}

/* TODO: Remove this */
.flexed-js-ai-center {
    display: flex;
    align-items: center;
}

.flexed-ai-center {
    display: flex;
    align-items: center;
}

.mr-8 {
    margin-right: 8px;
}

.mr-16 {
    margin-right: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-8 {
    margin-left: 8px;
}

.mh-72 {
    min-height: 72px;
}

.pad-10 {
    padding: 10px;
}

.fw-400 {
    font-weight: 400;
}

.ft-size-20 {
    font-size: 20px;
}

.ft-size-16 {
    font-size: 16px;
}


.lh-20 {
    line-height: 20px;
}

.blue-gradient {
    background: linear-gradient(180deg, #edf1f2 0, #f6f8f9);
}

.header-links-container {
    /* line-height: 40px; */
}

.header-login-button {
    /* line-height: 40px; */
}

.header-login-button>* {
    pointer-events: none;
}

.logo-text {
    font-size: 21px;
    margin-left: 9px;
    /* color: #89273E; */
}

.logo-container span {
    font-weight: bold;
}

.container {
    margin: 0 auto;
    min-height: 100%;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.button {
    cursor: pointer;
    border-radius: 4px;
    background: #89273E;
    box-shadow: 0 4px 12px rgb(137, 39, 62, 0.5);
    max-width: 100%;
    padding: 10px 20px;
    color: white;
    border-width: 0px;
    text-transform: uppercase;
}

.button:hover {
    transform: translateY(-1px);
}


.cur-ptr {
    cursor: pointer;
}

.warning-label {
    color: red;
}

.success-label {
    color: green;
}

.wrap-content {
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* css-3 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap;
    /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

footer {
    font-size: 12px;
    min-width: 100%;
}

.text-align-right {
    text-align: right;
}

#header-hamburger-icon>* {
    pointer-events: none;
}

.social-links a {
    margin-right: 10px;
}

.footer-links {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.footer-links a {
    margin-right: 8px;
}

input[readonly] {
    background-color: #f6f6f6;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
}

.spinner-center {
    display: block;
    margin: 0 auto;
}

#header-profile-icon {
    position: relative;
    display: inline-block;
}

.select-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0px 10px 0px;
}

.select-dropdown select {
    background-color: #89273E;
    width: 100%;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.select-dropdown select::-ms-expand {
    display: none;
}

.select-dropdown::before,
.select-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.select-dropdown::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
    color: white;
}

.select-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, .2);
}

.dropdown-content {
    animation-duration: 300ms;
    display: none;
    position: absolute;
    z-index: 1;
    background: white;
    right: 16px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
    font-size: small;
    width: 320px;
    height: 170px;
}

.pad-0-20 {
    padding: 0 20px;
}

.m-0-20 {
    margin: 0 20px;
}

/* .header-button {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    padding: 0 12px;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    color: #666;
    text-decoration: none;
    background-color: white;
} */

.menu-user-details {
    display: flex;
    /* min-width: 320px; */
    line-height: normal;
    margin: 10px;
    border-bottom: 1px solid #949494;
    padding-bottom: 4px;
}

.menu-details-item {
    /* 13px */
    font-size: small;
}

.dropdown-content div img {
    margin-right: 16px;
    border-radius: 50%;
}

.dropdown-content:hover {
    display: block;
}

/* https://stackoverflow.com/a/5210074/2758318 */
#header-profile-icon:hover+.dropdown-content {
    display: block;
}

input:disabled {
    cursor: not-allowed;
}

/** cards **/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 0 auto 30px;
}

.cards .card {
    position: relative;
    display: block;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    margin-bottom: 16px;
    padding: 10px 20px;
    cursor: pointer;

}

/** modal box **/
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow-y: auto;
}

.modal .modal-content #action-label {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
}

.modal .modal-content .action-container {
    max-height: 400px;
    text-align: center;

}

.modal .modal-content .action-container>div {
    text-align: center;

}

.modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.smooth-expand {
    -webkit-transition: height .25s ease;
    -moz-transition: height .25s ease;
    transition: height .25s ease;
}

.mw-100 {
    min-width: 100%;
}

.w-100 {
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

@media (max-width: 400px) {
    .header-hamburger-icon {
        display: none;
    }

    .header-login-button {
        display: block;
    }
}

.iti-flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/15.1.0/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .iti-flag {
        background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/15.1.0/img/flags@2x.png");
    }
}
