.container {
    text-align: center;
}

.container h1 {
    margin: 20px 0px;
    font-size: 1.5em;
    text-transform: uppercase;
}

#ios-link img,
#android-link img {
    max-width: 100%;
}

section {
    min-height: unset;
}
