section {
    min-height: 200px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    margin-bottom: 25px;
}

.header-links-container a {
    border: 2px solid white;
    border-radius: 3px;
    padding: 5px 4px;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.info-card {
    margin-bottom: 10px;
    padding: 20px 30px;
}

.section4 {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    min-height: unset;
}

.section4 h2 {
    font-size: 2em;
}

.section4 h3 {
    font-size: 1.2em;
}

.section4 a {
    border-radius: 4px;
    background: #1ba94c;
    box-shadow: 0 4px 12px rgba(27, 169, 76, 0.5);
    max-width: 100%;
    padding: 10px 20px;
    color: white;
}

.section4 h2,
.section4 h3,
.section4 a {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
