section {
    min-height: unset;
}

.section2 {
    margin-top: 16px;
}

section h2,
section h3 {
    margin-top: 16px;
    color: #89273E;
}

section h2 {
    font-size: 34px;
}

section h3 {
    font-size: 18px;
}

section h2 span {
    font-weight: 600;
}

.call-to-action ul {
    color: #89273E;
}

.call-to-action ul li {
    display: flex;
    margin-bottom: 16px;
}

.call-to-action ul li p {
    margin-left: 10px;
}

.action-icon {
    font-size: 2em;
}

.action-icons-container {
    min-height: unset;
}

.action-icons-container ul {
    display: flex;
    min-height: unset;
    overflow-x: auto;
    overflow-y: hidden;
}

.action-icons-container ul li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09); */
    width: 80px;
    margin-right: 16px;
    padding: 10px 20px;
}

.action-icons-container ul li>* {
    pointer-events: none;
}

.action-icons-container ul li:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
}

.icon-text {
    color: #949494;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    width: 100%;
    margin-top: 16px;
}

/* Source: https://blog.benestudio.co/custom-file-upload-button-with-pure-css-5aacf39aa0a */
#file-upload-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#file-upload-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
