.container section {
    margin-top: 25px;
    min-height: unset;
}

section {
    background-color: #f9f9fa;
}

form p label {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 600;
}

form p span {
    margin-top: 10px;
    display: inline-block;
}

form p input {
    min-width: -webkit-fill-available;
    line-height: 40px;
}

.icon-container {
    text-align: center;
    font-size: 80px;
    margin: 10px 0px;
    color: #F0B243;
}

.card {
    min-height: 50px;
    padding: 10px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    margin-bottom: 16px;
}

section {
    text-align: center;
}

section h2 {
    line-height: 28px;
}

.main-text {
    /* font-size: 20px; */
    font-weight: 500;
    /* line-height: 24px; */
}

.join-section {
    margin-bottom: 16px;
}

@media (min-width: 481px) and (max-width: 767px) {
    section {
        min-height: unset;
    }

    section h2 {
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    section {
        min-height: unset;
    }

    section h2 {
        text-transform: uppercase;
    }
}

@media (min-width: 1025px) {
    section {
        min-height: unset;
    }

    .features-section {
        display: flex;
        flex-direction: row;
    }

    .main-text {
        /* font-size: 16px; */
    }

    .card {
        width: 200px;
        padding: 10px 20px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
        border: 1px solid rgba(0, 0, 0, .09);
        margin-bottom: 16px;
        margin-right: 16px;
    }

    .join-section {
        margin: 0 auto;
    }

}

@media (min-width: 1281px) {}
