.container section {
    /* margin-top: 25px; */
    min-height: unset;
}

section {
    background-color: #f9f9fa;
}

form p label {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 600;
}

form p span {
    margin-top: 10px;
    display: inline-block;
}

form p input {
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    line-height: 40px;
}

.icon-container {
    text-align: center;
    font-size: 80px;
    margin: 10px 0px;
}

.card {
    min-height: 50px;
    padding: 10px 20px;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, .04); */
    border: 1px solid rgba(0, 0, 0, .09);
    margin-bottom: 16px;
}

section {
    text-align: center;
}

section h2 {
    line-height: 28px;
}

.main-text {
    /* font-size: 20px; */
    font-weight: 500;
    /* line-height: 24px; */
}

.join-section {
    background-color: unset;
}

.join-section input {
    border: 0;
    border-bottom: 1px solid #ddd;
}

.join-section input:focus {
    outline: none;
}

@media (min-width: 481px) and (max-width: 767px) {
    section {
        min-height: unset;
    }

    section h2 {
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    section {
        min-height: unset;
    }

    section h2 {
        text-transform: uppercase;
    }
}

@media (min-width: 960px) {
    .join-section form p {
        flex-direction: row;
    }

    .join-section {
        display: table;
        /* max-height: max-content; */
        /* max-height: -moz-max-content; */
    }

    .container {
        max-width: unset;
        min-height: unset;
        display: flex;
        justify-content: center;
    }

    .features-section {
        margin-right: 16px;
    }

    .icon-container {
        font-size: 40px;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 70%;
    }
}
