

.login-container.full-fledged {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.login-container .login-box .legal-checkbox {
  text-align: left;
}
/* .login-container .meta {
  display: none; */
}
.login-container.full-fledged .meta {
  display: block;
}

.login-container.full-fledged::before {
  box-sizing: border-box;
}
.login-container.full-fledged::after {
  box-sizing: border-box;
}

.login-container.mini .login-box {
  box-shadow: none;
  max-width: 480px;
    display: block;
    margin: 0 auto;
}

.login-container.full-fledged .login-box {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: #fff;
  max-width: 100%;
  position: relative;
  z-index: 2;
}
.login-container.full-fledged .login-box .mdc-card__primary {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  overflow: hidden;
  padding: 24px 24px 36px;
}
.login-container .login-box .mdc-card__primary {
  /* padding: 10px 24px 24px 24px; */
  padding:  16px 24px;
}


.login-container .login-box .mdc-card__primary .login-area .mdc-text-field {
  width: 100%;
}
.login-container.full-fledged .login-box .mdc-card__primary .login-area .input-container {
  padding-top: 24px;
}

.login-container .login-box .mdc-card__primary .login-area.disabled {
  pointer-events: none;
  opacity: 0.5;

}
.login-container .login-box .logo {
  width: 100%;
}
.login-container .login-box .logo img {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 450px) {
  .login-container.full-fledged .login-box .mdc-card__primary {
    padding: 48px 40px 36px;
  }
  .login-container.full-fledged .login-box .mdc-card__primary .login-area {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 601px) {
  .login-container.full-fledged {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }
  .login-container.full-fledged::before {
    min-height: 30px;
  }
  .login-container.full-fledged::before, .login-container.full-fledged::after {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    content: '';
    display: block;
    height: 24px;
  }
  .login-container.full-fledged .login-box {
    min-height: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border: 1px solid #dadce0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    min-height: 0;
    width: 450px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
  }
  .login-container.full-fledged .login-box .mdc-card__primary {
    height: auto;
    min-height: 400px;
    overflow-y: auto;
  }
}
.action-buttons  {
  margin-top: 20px;
}
#cancel-phone-auth {
  float: left;
}
.info-bar {
  background-color: #89273E;
  border: 1px solid #89273E;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  left: 10%;
  padding: 8px 16px;
  position: absolute;
  right: 10%;
  text-align: center;
  top: 0;
}
.info-bar .info-bar-heading {
  font-weight: 500;
  color: #f0c36d;
}
.info-bar .info-bar-message {
  margin: 0;
  color: #f0c36d;
}
.iti__flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.2/img/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.2/img/flags@2x.png");
  }
}
.iti__country-list {
  min-width: 64px;
  max-width: 300px;
  top: 16px;
  max-height: 682px;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  background: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  opacity: 1;
  outline: 1px solid transparent;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 2000;
}
@media (min-width:839px) {
  .sign-up-grid {
    margin-right: 0;
    margin-left: auto;
  }
  .phone-number-verification {
    min-width: 300px;
  }
}
.login-container .sign-up-link {
  color: #89273E;
  text-decoration: none;

}
