.youtube {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
    min-height: unset;
}

.office-name-container {
    display: flex;
}

.youtube-section {
    border: 0;
    padding: 0;
}

.office-name-container span,
.office-name-container img {
    /* border-radius: 50%; */
    margin-right: 4px;
}

.container section h1 {
    /* font-weight: 600; */
    /* line-height: 68px; */
}

.container section p {
    /* font-size: 14px; */
    /* line-height: 20px; */
    margin-bottom: 16px;
}

.branch-status {
    max-width: fit-content;
    max-width: -moz-available;
    padding: 2px;
    font-size: 13px;
}

.branch-section {
    padding: 20px 0;
}

.branch-section h2,
.product-section h2,
.enquiry-section h2 {
    color: #89273E;
    margin-bottom: 30px;
}

.branch-section h2 {
    text-align: center;
}

.branch-list-container {
    overflow-y: auto;
    max-height: 350px;
    /* padding-top: 20px; */
    padding: 10px 20px;
}

.list-item {
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    /* padding: 10px 14px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* border-radius: 4px; */
    min-height: 140px;
    justify-content: space-between;
}

form p label {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 600;
    color: #89273E;
}

form p span {
    /* margin-top: 10px; */
    /* display: inline-block; */
}

form p input {
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    min-height: 35px;
}

form p textarea {
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    resize: vertical;
}

form p select {
    min-width: 100%;
    height: 35px;
    font-family: inherit;
}

.enquiry-section {
    /* text-align: center; */
}

#enquiry-submit-button {
    text-align: center;
    /* display: block; */
    /* margin-top: 25px; */
}

.products-container {
    max-height: 350px;
    overflow-y: auto;
}

#load-map-button {
    position: relative;
    text-align: center;
}

#retry-location-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#maps-placeholder {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#load-map-button img {
    max-width: 100%;
}

.product-box {
    cursor: pointer;
}

input[type="checkbox"] {
    min-height: unset;
}

.avatar {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 68px;
    /* margin: 20px 0; */
}

.grid-33 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-areas: ". . ."". . ."". . ."; */
}

product-box>* {
    pointer-events: none;
}

.product-name-container {
    /* display: flex; */
    /* align-items: center; */
    /* margin-left: 16px; */
    /* color: white; */
    font-size: small;
    line-height: 13px;
}

.product-image-name-container {
    /* display: flex; */
    /* color: white; */
    /* flex-direction: row; */
    /* flex-direction: column; */
}

.product-image-name-container img {
    width: 80px;
    height: 80px;
}

.tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #666;
    text-align: left;
}

.bottom {
    min-width: 200px;
    /*max-width:400px;*/
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    color: #666666;
    background-color: #EEEEEE;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.tooltip:hover .bottom {
    display: block;
}

.floating-enquiry {
    font-size: 50px;
    min-height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 1;
    z-index: 999;
}

.floating-enquiry a {
    display: block;
    margin-top: -40px;
}

@media (min-width: 768px) {

    .youtube-section,
    .product-section,
    .enquiry-section,
    .branch-section {
        margin: 0 auto;
        max-width: 80%;
    }
}

@media (min-width: 1024px) {

    .youtube-section,
    .product-section,
    .enquiry-section,
    .branch-section {
        margin: 0 auto;
        max-width: 50%;
    }
}
