.youtube {
    /* position: relative; */
    /* padding-bottom: 56.25%; */
    /* padding-top: 25px; */
    /* height: 0; */
    /* margin-bottom: 20px; */
    position: relative;
    padding-bottom: 56.25%;
}


.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
    min-height: unset;
}

.office-name-container {
    display: flex;
}

.youtube-section {
    border: 0;
    padding: 0;
}

.office-name-container span,
.office-name-container img {
    border-radius: 50%;
    margin-right: 4px;
}

.container section h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 16px;
}

.container section p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}


.branch-section h2,
.product-section h2,
.enquiry-section h2 {
    color: #89273E;
    font-size: 24px;
    margin-bottom: 30px;
}

.branch-list-container {
    overflow-y: scroll;
    max-height: 350px;
}

.branches-box div {
    margin-bottom: 30px;
}

.list-item {
    border: 1px solid #efefef;
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.list-item>* {
    pointer-events: none;
}

.list-item-name {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.list-item-address {
    color: #949494;
    line-height: 18px;
}

.maps-container {
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    margin: 25px 0px;
}

form p label {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 600;
    color: #89273E;
}

form p span {
    margin-top: 10px;
    display: inline-block;
}

form p input {
    min-width: -webkit-fill-available;
    line-height: 40px;
}

form p textarea {
    min-width: -webkit-fill-available;
    resize: vertical;
}

form p select {
    min-width: 100%;
    height: 35px;
}

.enquiry-section {
    /* text-align: center; */
}

#enquiry-submit-button {
    text-align: center;
    display: block;
    margin-top: 25px;
}

.products-container {
    max-height: 350px;
    overflow-y: scroll;
}

.product-box {
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background: #89273E;
}

.product-box i {
    font-size: 40px;
}

.product-name-container {
    display: flex;
    align-items: center;
    margin-left: 16px;
    color: white;
}

.product-image-name-container {
    display: flex;
    color: white;
    flex-direction: row;
}

.product-box i,
.product-box img {
    height: 40px;
    width: 40px;
}

.product-details-container {
    /* display: block; */
    /* Visibele after click */
    display: none;
    margin-top: 16px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    padding: 10px 5px;
    color: #89273E;
    background: white;
}

@media (min-width: 481px) and (max-width: 767px) {

    .youtube,
    .container {
        margin: 0 auto;
        max-width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product-box {
        width: 150px;
        height: 150px;
        margin-right: 16px;
    }

    .products-container {
        display: flex;
        max-height: 350px;
        overflow-y: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
}



@media (min-width: 1025px) and (max-width: 1280px) {
    header {
        margin-bottom: 16px;
    }

    .branches-box {
        display: flex;
        flex-direction: row-reverse;
    }

    .branches-box div {
        width: 100%;
    }

    .branch-list-container {
        max-height: 400px;
    }

    .products-container {
        display: flex;
        flex-wrap: wrap;
        max-height: unset;
        overflow-y: unset;
        justify-content: flex-start;
    }

    .product-box {
        margin-right: 16px;
        /* height: 200px; */
        width: 200px;
    }

    .enquiry-section {
        text-align: unset;
    }

    #enquiry-submit-button {
        text-align: center;
    }
}

@media (min-width: 1281px) {
    header {
        margin-bottom: 16px;
    }

    .branches-box {
        display: flex;
        flex-direction: row-reverse;
    }

    .branches-box div {
        width: 100%;
    }

    .branch-list-container {
        max-height: 400px;
    }

    .products-container {
        display: flex;
        flex-wrap: wrap;
        max-height: unset;
        overflow-y: unset;
        /* justify-content: center; */
    }

    .product-box {
        margin-right: 16px;
        height: 200px;
        width: 200px;
    }

    .enquiry-section {
        text-align: unset;
    }

    #enquiry-submit-button {
        text-align: center;
    }
}
