:root {
  --mdc-theme-primary: #89273E;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-secondary: #f5f5f5;
  --mdc-theme-on-secondary: #000000;
  --mdc-theme-background: #f5f5f5;
  --mdc-theme--success: #4CAF50;
  --mdc-theme--warning: #ffcc00;
  --mdc-theme--error: red;
  --drawer-list-radius: 50px;
}

.mdc-typography--body1 {
  font-size: 18px !important;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0px;
}

.mdc-drawer {
  background-color: var(--mdc-theme-primary);
}

.mdc-drawer nav {
  padding-bottom: 90px;
  padding-left: 66px;
  padding-right: 66px;
}

.mdc-drawer .mdc-list-divider {
  border-bottom-color: rgba(255, 255, 255, 0.12);

}

.mdc-drawer .mdc-list-item {
  color: var(--mdc-theme-text-primary-on-light);
}

* {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif !important;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

.text-center {
  text-align: center;
}

.mobile-logo--banner {
  display: none;
}

.header-actionable {
  margin-left: 5px;
}

.mdc-chip a,
.legal-terms-link a {
  color: black;
  text-decoration: none;
}

/** top bar **/
.top-bar-navigation {
  display: flex;

}

.hamburger-menu {
  display: none;
}

.resources {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  overflow-y: hidden;

}

.resources ul {
  padding-top: 40px;
}

.contact-us--header {
  text-align: right;
  background-color: #cccccc12;
  padding: 8px 12px;
  font-size: 16px;
  max-width: 1280px;
  display: none;
}

.contact-us--header span {
  margin-right: 10px;
  margin-left: 10px;
}

.contact-us--header i {
  margin-right: 10px;
}

.call-us--icon i {
  margin-right: 5px;
}

#header-logo {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
}

.content-max-width {
  max-width: 1280px;
  margin: 0 auto;
}

.icon-expand {

  height: 60px;
  padding-left: 0px;
  padding-right: 0px;
}

.icon-expand img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@media (max-width:1120px) {
  .growthfile-resources {
    display: none;
  }
}







.mdc-top-app-bar__section--align-end a.mdc-top-app-bar__action-item {
  text-align: center;
}

.mdc-top-app-bar__section--align-end .mdc-top-app-bar__action-item:not(:nth-last-child(2)) {
  margin: 0px 8px 0px 8px;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.ml-0 {
  margin-left: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;

}

.mt-20 {
  margin-top: 20px;
}

.area {
  padding: 16px;
}

.content-container {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1032px;
  display: block;
  margin: 0 auto;
}

.google-play-badge img {
  width: 119px;
  height: 40px;
}

@media (max-width:768px) {
  .content-container {
    margin-top: 10px;
    margin-bottom: 10px;

  }

}

.full-width {
  width: 100%;
}

.download-badges {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.download-badges img {
  width: 140px;
}

.hidden {
  display: none;
}

iframe {
  width: 100%;
}

.inline-content {
  display: flex;
  align-items: center
}

.inline-content span {
  /* margin-left: 10px; */
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.no-underline {
  text-decoration: none;
}

footer:not(.mdc-dialog__actions) {
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}

footer p {
  margin-top: 0px;
  margin-bottom: 10px;
}

footer p span i {
  margin-right: 10px;
}

footer a {
  color: var(--mdc-theme-on-primary);
}


footer .meta-links {
  justify-content: space-between;
  display: flex;
}

.meta-links-container {
  border-top: 1px solid #cccccc;
  padding-top: 20px;

}




.container {
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}

.sign-up-form .mdc-text-field {
  width: 100%
}

/* .sign-up-form .info-container {
    margin-bottom: 30px;
  } */

.form-submit-input {
  margin-right: 20px;
}

.sign-up-form .submit-cont {
  display: flex;
  align-items: center;
}

@media(max-width:360px) {
  .sign-up-form .submit-cont {
    display: block;
    align-items: center;
  }

  .login-link {
    margin-top: 10px;
  }

}

.learn-more {
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.meta-customers {
  padding-bottom: 40px;
}

.image-section {
  padding-bottom: 20px;
}

.content-image {
  max-width: 384px;
  max-height: 332px;
  display: block;
  margin: 0 auto;
}

/* .info-container {
    padding-top: 20px;
  } */

.why-growthfile-image {
  max-width: 414px;
  max-height: 119px;
}



.info-card .icon-container i {
  color: var(--mdc-theme-primary);
  font-size: 30px;
}

.info-card .info-card--title {
  font-size: 18px;
}

.mdc-list-item--custom {
  margin-bottom: 20px;
  margin-top: 10px;
}

.mdc-list-item--custom li {
  font-weight: 500
}

.mdc-list-item--custom div {
  margin-top: 10px;
}

.signup-btn {
  min-width: 150px;
  min-height: 40px;
  font-size: 16px;
  font-weight: bold;
}



.page-grid-button {
  margin-top: 30px;
}

/** video css **/
.slideshow-container {
  position: relative;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: 30px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active,
.dot:hover {
  background-color: var(--mdc-theme-primary);
}

.dot.active {
  color: var(--mdc-theme-primary)
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

.mdc-top-app-bar--navigation {
  background-color: white;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}


.product-card {

  background-color: #e6e6e640;
  color: var(--mdc-theme-on-secondary);
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: center;

}


.product-card:hover {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-primary)
}



.product-card .product-card--icon {
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.product-card .product-card--label {
  font-weight: 500;
}

.phone-number-verification {
  margin: 0 auto;
  max-width: 400px
}

@media (max-width:320px) {
  .mdc-top-app-bar__section--align-end a {
    font-size: 13px;
  }

}

@media (max-width:840px) {

  .mdc-top-app-bar--fixed-adjust {
    padding-top: 104px;
  }

  .contact-us--header {
    display: block;
    padding: 8px;
    text-align: center;
  }

  .call-us--icon {
    display: none !important;
  }


  .solutions-container {
    grid-gap: 0px;
  }

  .growthfile-description .text-description {
    text-align: center;
  }

  .top-bar-navigation {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .container .mdc-layout-grid {
    padding: 0px;
  }

  .tab-content .primary-heading {
    margin-top: 0px;
  }

  .page-grid-content {
    order: 1;
  }

  .page-grid-content {
    padding-top: 40px;
  }

  .tab-image {
    display: none;
  }

  .why-growthfile-image {
    max-width: 100vw;
    max-height: 100vh;
  }

  .faq-banner {
    height: fit-content;
  }

}

.google-map-image-home {
  width: 100%;
  max-height: 250px;
}

.mdc-text-field .iti {
  width: 100%;
  height: 100%;
}

.mdc-list-item a {
  color: #000000;
  font-size: 14px;
}

/** solutions **/
.solutions-container .solution .solution-content {
  padding: 30px;
}

.solutions-container .solution p {
  font-family: inherit;
}


.download-app {
  padding: 20px;
  color: #000000;
}

.download-app a {
  display: inline-flex;
  align-items: center;
  color: inherit;
}

.download-app a:nth-child(2) {
  margin-left: 20px;
}

.download-app .app-icon {
  margin-right: 20px;
  color: var(--mdc-theme-primary);
}

/** features **/

.masonry-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.masonry {
  padding-bottom: 28px;
  padding-top: 28px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.masonry-content {
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.masonry.one,
.payroll-grid {
  padding-bottom: 34px;
  background-color: #5ab1de52;
}

.masonry.two,
.reim-grid {
  background-color: #a2334f4f;
}


.masonry.three,
.staff-grid {
  background-color: #18446540;
  padding-bottom: 28px;

}

.masonry.four {
  padding-bottom: 60px;
  vertical-align: top;
  background-color: #f9c66866;
}

.masonry .masonry-image-container,
.solution-image-container {

  display: block;
  margin: 0 auto;
  width: 100%;
}

.masonry .masonry-image-container img,
.solution-image-container img {
  max-width: 318px;
  width: inherit;

}

#Free-mobile-app .masonry-image {
  max-width: 250px;
}

/** legal **/

.effective-date {
  color: #b4b8b7;
}

.legal-section {

  padding-bottom: 40px;
}

.legal-list-decimal {
  list-style-type: decimal;
}

.legal-list-number {
  list-style-type: decimal;
}

.legal-content-container ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.legal-list-bullet {
  list-style-type: disc;
}

.legal-content p {
  font-family: inherit;
}

.mobile-tabs {
  display: block;
}

.desktop-tabs {
  display: none;
}

.desktop-tabs .legal-terms-link {
  height: 600px;
  width: 300px;
  justify-self: start;

  grid-area: sidebar;
  grid-column: 4;
  margin: 10px;
  position: sticky;
  top: 76px;
  list-style: none;
}

.desktop-tabs .legal-terms-link li {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.desktop-tabs .legal-terms-link .seciont-list {
  padding-left: 20px;
}

.desktop-tabs .legal-terms-link .seciont-list li {
  font-family: inherit;
}

@media (min-width:839px) {

  .mobile-tabs {
    display: none;
  }

  .desktop-tabs {
    display: block;
  }

  .masonry,
  .width-50 {
    margin-bottom: 24px;
    width: calc(49.9% - 10px);
  }

  .masonry.one {
    float: left;
    margin-right: 20px;
  }

  .masonry.two {
    float: right;
  }

  .masonry.three {
    float: right;
    /* padding-bottom: 0px; */
  }

  .masonry.four {
    float: left;
  }
}

.tab-image:not(.tab-image--full) {
  max-width: 318px;
  margin: 0 auto;
}



@-webkit-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }

  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }

  100% {
    transform: translateX(0);
  }
}

.clip-top {
  /* clip-path: inset(250px 0px 0px 0px);
    margin-top: -250px; */
}

.clip-bottom {
  clip-path: inset(0px 0px 250px 0px);
}

.share--background-image {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 400px;
  width: 100%;
  height: 400px;
  margin-top: 30px;
}

.share-widget {
  width: 480px;
  display: block;
  margin: 0 auto;
  background-color: white;
}

.share-widget .mdc-text-field__input {
  cursor: pointer;

}

.share-widget .icon-container {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-color: #cccccc70;
  border-radius: 50%;
  display: flex;
  align-items: center;

}

.share-widget .share-icon {
  font-size: 80px;
  text-align: center;
  width: 100%;
}

.share-widget .social-container .social {
  max-height: 28px;
}


.share-widget .whatsapp-button {

  background-color: #31b546;
  color: white;
  height: 28px;
}

.share-widget .mail-button {

  height: 28px;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
  width: auto;
}


.gradient-background {
  background: linear-gradient(to bottom, rgba(226, 226, 226, 0.32) 50%, rgb(137, 39, 62) 50%, rgb(137, 39, 62) 50%) fixed;
  /* overflow: hidden; */
}


.faq-container {
  max-width: 1024px;
  display: block;
  margin: 0 auto;

}

.faq {
  border-color: #e9ecef;
  border-style: solid;
  border-width: 1px 1px 0;
}

.faq .question {
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  transition: 0.4s;
  line-height: 1.5;
}

.faq .question p {
  width: inherit;

}

.faq .question i {

  float: right;
}

.faq .faq-body {
  border-top: 1px solid #ccc;
  text-align: left;
  padding: 0px 20px;
  transition: max-height 0.5s ease-out;
  background: #fbfbfc;
  line-height: 1.5rem;
  max-height: 0;
  overflow: hidden;
}

.faq .faq-body a {
  color: var(--mdc-theme-primary);
  text-decoration: none;
}

.faq .faq-body ul {
  padding: 10px auto;
}

.faq .faq-body p:nth-child(1),
.faq .faq-body li {
  padding: 10px 0px 0px 0px
}

.faq-banner {
  text-align: center;

}

.faq-banner p {

  display: inline-block;
  border-bottom: 2px solid black;
  padding-bottom: 10px;

}

.faq-selected {
  color: var(--mdc-theme-primary);

}

.pricing-container .mdc-data-table {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  position: relative;

}

.pricing-container thead {
  width: 100%;
}

.pricing-container .mdc-data-table .mdc-data-table__header-cell {
  z-index: 6;
  background: white;
  position: sticky;
  top: 0px;
  border-right: 1px solid #cccccc94;
}

.pricing-header--content {

  margin: 10px 0px;
  vertical-align: top;
  background: unset;
  font-size: 18px;
  text-align: center;
}

.pricing-header--content p {
  font-weight: bold;
  margin: 10px 0px;
}

.pricing-header--content .mdc-button {
  width: 100%;
}

.pricing-container .mdc-data-table .empty-row td {
  height: 26px;
}

.pricing-container .mdc-data-table .tr-heading {
  background: #f5f5f5
}

.pricing-container .mdc-data-table .tr-heading td:nth-child(1) {
  font-weight: bold;
  padding-left: 16px;
  padding-right: 16px;
  height: 52px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, .12);
  background-color: inherit;
}


.pricing-container .mdc-data-table .mdc-data-table__header-cell--numeric {
  text-align: center;
}


.pricing-container .mdc-data-table .mdc-data-table__row.empty-row {
  display: none;
}

.pricing-container .mdc-data-table .mdc-data-table__cell {
  width: 33%;
}

.pricing-container .mdc-data-table .mdc-data-table__cell:not(:first-child) {
  text-align: center;
}


.feature-card {

  box-shadow: 0px 0px 0px grey;
  -webkit-transition: box-shadow .3s ease-out;
  box-shadow: .8px .9px 3px grey;
  background-color: white;
  color: black;
}

.feature-card:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow .3s ease-in;
}

.feature-card .feature-content {
  padding: 20px;
  text-align: center;
}

.feature-card .feature-icon {
  font-size: 50px;
  color: var(--mdc-theme-primary);
  min-height: 60px;
}

.feature-card .heading {
  font-weight: 600;
  font-size: 18px;
}


#app-bar-signup {
  font-weight: bold;
}

.t.home-page--timeline {
  border-bottom: none;
}

.history-tl-container ul.tl li:nth-child(1)::before {
  content: "work";
}

.history-tl-container ul.tl li:nth-child(2)::before {
  content: "location_on";
}

.history-tl-container ul.tl li:nth-child(3)::before {
  content: "photo";
}

.history-tl-container ul.tl li:nth-child(4)::before {
  content: "grade";
}

.history-tl-container ul.tl li:nth-child(5)::before {
  content: "receipt";
}



.flex {
  display: flex;
}

.flex-list {
  display: flex;
  /* align-items: center; */
  padding: 10px;
}

.flex-list i {
  font-size: 32px;
  color: var(--mdc-theme-primary);
}


.flex-list .flex-list--content {
  margin-left: 20px;
}

.flex-list .flex-list--content .list--headline {
  /* font-weight: 00; */
  font-size: 20px;
  color: var(--mdc-theme-primary);
}




.home-page--timeline {
  margin-bottom: 30px;
}


@media (max-width:599px) {
  .share--background-image {
    background-image: none;
  }
}

@media(min-width:600px) and (max-width:839px) {
  .share--background-image {
    background-size: 300px;
  }
}



@media (max-width:480px) {

  /* .mdc-top-app-bar__title {
      display: none;
    } */

  .mdc-top-app-bar__section--align-start {
    display: none;
  }

  .mobile-logo--banner {
    display: block;
    align-items: center;
    color: var(--mdc-theme-primary);
    text-align: center;
  }

  .page-grid-image img {
    width: 100%;
  }

  .share-widget {
    width: 90% !important;
  }

  .share-widget .social.twitter,
  .share-widget .social.facebook {
    display: none;
  }

  .share--background-image {
    margin-top: 0px;
  }
}